BridgeRelay 1

ORPort {{ tor_port }}

ServerTransportPlugin obfs4 exec {{ obfs4_path }}

ServerTransportListenAddr obfs4 0.0.0.0:{{ obfs4_port }}

ExtORPort auto

ContactInfo {{ email_address }}

Nickname {{ inventory_hostname }}
